* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

canvas {
    position: relative;
}
