@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #23242a;
}

img {
    height: 100px;
    width: 100px;
}

.nav-custom {
    background-color: rgba(0, 0, 50, 0.9) !important; 
    color: white;
}

.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background: url("/images/loginBackground.jpg");
}

.form-container {
    height: 400px;
    width: 450px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 1px 2px 8px 2px black;
    text-align: center;
}

.btn-group {
    padding: 10px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 25px;
}

.form h2 {
    color: darkblue; 
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 0.5rem;
    font-family: 'Bebas Neue', cursive;
}

.input-group label {
    color: darkblue;
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    font-size: 1rem;
    letter-spacing: 0.1em;
    transition: 0.5s;
    font-family: 'Libre Baskerville', serif;
}

.input-group input:valid ~ label,
.input-group input:focus ~ label {
    color: black;
    font-size: 0.8em;
    transform: translateY(-34px);
}

.btn-group button {
    padding: 4px;
    margin: 2px 8px 2px 8px;
    border: none;
    outline: none;
    padding: 9px 25px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 21px;
    font-weight: 600;
    width: 100%;
    box-shadow: 0px 1px 6px darkblue;
    transition: all 0.2s ease;
}

.btn-group button:active {
    opacity: 0.8;
}

.btn-group button:hover {
    box-shadow: 0px 1px 14px darkblue; 
}

.btn-group {
    width: 100%;
}

.input-group {
    text-align: center;
}

.input-group input {
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #23242a;
    border: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.input-group i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.input-group input:valid ~ i,
.input-group input:focus ~ i {
    height: 44px; 
}

@media (max-width: 700px) {
    .form-container {
        height: 400px;
        width: 300px;
    }    
}
